$border: 20px;

@use 'style';

@media (min-width: 1024px){

  body {
    height: 100vh;
    margin: 1rem auto;
  }
  header {
    justify-content: space-between;
    border-radius: 1rem;
    padding: .5rem 2rem;
    border: $border;
    min-width: 1000px;
    max-width: 1100px;
    margin: auto;
  }

  #hamburger {
    div {
      height: .33rem;
      width: 1.9rem;
    }
  }

  #dropdown {
    height: 4rem;
    width: 7rem;
    left: 10px;
    

    button {
      height: 3rem;
      width: 3rem;
    }
  }

  input {
    max-width: 300px;
    min-height: 2.4rem;
    font-size: 1.3rem;
  }
  #search-location-btn {

    img {
      width: 25px;
    }
  }

  #header-left.dark {
    background-color: style.$dark-dash-bg;
  }

  #desktop-location {
    display: inline-block;
    font-size: 1.2rem;
  }

  #logo {
    display: block;
    font-size: 1.4rem;
  }
  #logo.dark {
    color: white;
  }

  .theme-btn {
    font-size: 1.5rem;
  }

  h1, #sun-p {
    display: none;
  }

  #next-p {
    position: absolute;
    font-size: 1.5rem;
    top: 79px;
  }

  main {
    gap: 2rem;
    max-width: 75vw;
    margin: 2rem auto;
    min-width: 1000px;
    max-width: 1100px;

    // display: none;
    display: grid;

    grid-template: 
    'curr curr future future'
    'details details future future'
    'sun sun future future'
    ;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 350px 400px 250px;
  }

  #curr-weather {
    grid-area: curr;
    border-radius: $border !important;

    #top h2, #top p {
      font-size: 2rem;
    }
  }
  #middle {
    margin: auto 0px 2rem 0px;
    gap: 5rem;
    font-size: 1.5rem;
    
    #curr-temp {
      p:first-child {
        font-size: 2.5rem;
      }
    }
  }
  #current-icon {
    width: 100px;
  }

  #mid-rightw {
    margin-bottom: 2rem;
  }
  #bottom {
    margin: 0 0 2rem 2rem;
  }

  #curr-details {
    grid-area: details;
    gap: 1.5rem;
  }

  #curr-details div {
    border-radius: 20px;
  }

  #curr-details div div {
    margin: auto 10px;
    font-size: 1.4rem;
  }
  #curr-details p {
    margin: 0 0px 5rem 4rem;
    font-weight: 400;
    font-size: 1.6rem;
  }

  #curr-details img {
    width: 30px;
  }

  #future-data{
    grid-area: future;

    #future-forecast {
      display: flex;
      flex-direction: column;
      overflow: auto;

      height: 1060px;
      gap: 2rem;
      min-width: 350px;

      position: relative;
    }
  }

  .card {
    border-radius: $border;
    padding: 1rem;
    position: relative;
    font-size: .8rem;
    display: flex;

    p, img {
      position: absolute;
    }

    .weather-icon {
      // left: 0px;
      margin: 44px -10px;
      width: 5rem;;
    }

    .future-day {
      margin: 55px 70px;
      font-size: 1.2rem;
    }
    .future-forecast {
      font-size: 1.1rem;
      margin: 80px 70px;
    }
    .future-weather {
      right: 0px;
      margin: 25px 25px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .future-wind {
      right: 0px;
      margin: 55px 10px;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  #sun-details {
    grid-area: sun;
    border-radius: $border !important;
    padding: 4rem;
    font-size: 1.4rem;
  }

}