@use 'style';

@media (min-width: 1024px){
  header {
    justify-content: center;
  }

  #hamburger {
    div {
      height: .33rem;
      width: 1.9rem;
    }
  }

  #dropdown {
    height: 4rem;
    width: 7rem;

    button {
      height: 3rem;
      width: 3rem;
    }
  }

  input {
    max-width: 500px;
    min-height: 3rem;
    font-size: 1.6rem;
  }
  #search-location-btn {

    img {
      width: 30px;
    }
  }

  #header-left.dark {
    background-color: style.$dark-dash-bg;
  }

  #logo {
    display: block;
    font-size: 1.4rem;
  }
  #logo.dark {
    color: white;
  }

  .theme-btn {
    font-size: 1.5rem;
  }

  main {
    max-width: 65vw;
    margin: auto;
    text-align: center;
  }

  #curr-weather {

    #top h2, #top p {
      font-size: 2rem;
    }
  }
  #middle {
    margin: auto;
    gap: 5rem;
  }

  #curr-details div div {
    margin: auto;
  }
}