$light-bg: #e9ecef;
$light-dash-bg: #f8f9fa;
$header-comp-borders: 2px solid gray;
$sky-blue: #415a77;
$small-padding: 3px;
$input-position: -25px;
$small-radius: 10px;
$small-margin: 1rem;

@mixin flex-and-bg {
  background-color: $light-dash-bg;
  display: flex;
}
@mixin default-btn {
  border: none;
  cursor: pointer;
  background-color: $light-dash-bg;
}
@mixin input-btn {
  position: absolute;
  padding: $small-padding;
  border-top: $header-comp-borders;
  border-bottom: $header-comp-borders;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $light-bg;
  height: 100vh;
}

// HEADER STYLING

header {
  @include flex-and-bg;
  position: static;

  align-items: center;
  justify-content: space-around;

  padding: 0.5rem;
}

.hidden {
  display: none;
}

#dropdown {
  position: absolute;
  background-color: $light-dash-bg;
  border-bottom-left-radius: $small-radius;
  border-bottom-right-radius: $small-radius;
  top: 45px;
  left: 0px;
  height: 45px;
  width: 75px;
  border: $header-comp-borders;
  border-top: 1px solid rgb(192, 168, 168);
  justify-content: space-between;
  padding: 0.5rem;
  display: none;

  transform-origin: top;
  animation: drop-down 0.6s alternate;

  button {
    border-radius: $small-radius;
    font-weight: bold;
  }
}
.active {
  background-color: $sky-blue;
  color: white;
}

#header-left {
  @include flex-and-bg;
}

#hamburger {
  @include default-btn;

  @include flex-column;
  justify-content: center;
  gap: $small-padding;

  div {
    width: 20px;
    height: $small-padding;
    background-color: black;
  }
}

#logo {
  font-weight: bold;
  color: $sky-blue;
  margin: auto;
}

#header-right {
  position: relative;
}

#search-location-btn {
  @include default-btn;
  @include input-btn;

  left: $input-position;
  border-left: $header-comp-borders;
  border-bottom-left-radius: $small-radius;
  border-top-left-radius: $small-radius;
}
#geolocation-btn {
  @include default-btn;
  @include input-btn;

  right: $input-position;
  border-bottom-right-radius: $small-radius;
  border-top-right-radius: $small-radius;
  border-right: $header-comp-borders;

  background-color: $light-bg;
}

.location-btn {
  img {
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

input {
  background-color: $light-dash-bg;
  max-width: 150px;
  border-left: none;
  border-right: none;
  border: $header-comp-borders;
}

.theme-btn {
  cursor: pointer;

  border-radius: $small-radius;
  overflow: hidden;
  min-width: 80px;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.94);
  }
  &:hover {
    transform: scale(0.98);
  }
}

#dark-theme {
  padding: 0px;
  p {
    color: $light-dash-bg;
  }
  .sliding-dark {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    animation: 1s slide-out;
    background-color: $sky-blue;
  }
}

#light-theme {
  border: 1px solid $sky-blue;
  background-color: $light-dash-bg;

  .sliding-light {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    animation: 1s slide-in;
    background-color: $light-dash-bg;
  }
}

// MAIN STYLING

main {
  @include flex-column;

  margin: 0.4rem 2rem;
  gap: 1rem;
  height: 100%;

  section:not(#curr-details, #future-data) {
    border: 1px solid;
    border-radius: $small-radius;
    background-color: $light-dash-bg;
  }
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
}

#curr-weather {
  @include flex-column;
}
#top {
  @include flex-column;

  p {
    margin-left: $small-margin;
    font-size: 1.5rem;
    font-weight: 00;
    transform: translateY(-10px);
  }
}
h2 {
  margin-left: $small-margin;
  margin-top: $small-margin;
  font-size: 1rem;
  font-weight: 100;
}
#middle {
  display: flex;
  gap: 1rem;
  align-items: center;

  span:first-child {
    margin-left: $small-margin;
  }
}
#mid-left {
  display: flex;
  gap: 0.5rem;
}
#curr-temp {
  display: flex;

  p:first-child {
    font-size: 2rem;
    transform: translateY(-10px);
  }
}

#bottom p {
  margin-left: $small-margin;
  font-size: 15px;
}

#curr-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $small-padding;
}

.first-curr-div {
  background-color: $light-dash-bg;
  border: $header-comp-borders;
  border-radius: $small-radius;
  padding: 0.5rem 1.2rem 0.6rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.detail-container {
  display: flex;
  gap: 14px;
}

// FUTURE DAYS STYLING

#future-forecast {
  display: flex;
  gap: $small-padding;
  overflow: scroll;

  .card {
    min-height: 10rem;
    min-width: 8rem;
    border: $header-comp-borders;

    background-color: $light-dash-bg;
    border-radius: $small-radius;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-25px);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(25px);
  }
}
@keyframes drop-down {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
