$light-bg: #e9ecef;
$light-dash-bg: #f8f9fa;
$header-comp-borders: 2px solid gray;
$sky-blue: #415a77;
$small-padding: 3px;
$input-position: -25px;
$small-radius: 20px;
$small-margin: 1rem;

@mixin flex-and-bg {
  background-color: $light-dash-bg;
  display: flex;
}
@mixin default-btn {
  border: none;
  cursor: pointer;
  background-color: $light-dash-bg;
}
@mixin input-btn {
  position: absolute;
  padding: $small-padding;
  border-top: $header-comp-borders;
  border-bottom: $header-comp-borders;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;

}

body {
  background-color: $light-bg;
  height: 100vh
}

header {
  @include flex-and-bg;

  align-items: center;
  justify-content: space-around;

  padding: .5rem;
}

#header-left {
  @include flex-and-bg;
}

#hamburger {
  @include default-btn;

  @include flex-column;
  justify-content: center;
  gap: $small-padding;

  div {
    width: $small-radius;
    height: $small-padding;
    background-color: black;
  }
}

#logo {
  font-weight: bold;
  color: $sky-blue;
  margin: auto;
}

#header-right {
  position: relative;
}

#search-location-btn {
  @include default-btn;
  @include input-btn;

  left: $input-position;
  border-left: $header-comp-borders;
  border-bottom-left-radius: $small-radius;
  border-top-left-radius: $small-radius;
}
#geolocation-btn{
  @include default-btn;
  @include input-btn;

  right: $input-position;
  border-bottom-right-radius: $small-radius;
  border-top-right-radius: $small-radius;
  border-right: $header-comp-borders;

  background-color: $light-bg;
}

.location-btn {
  img {
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

input {
  background-color: $light-dash-bg;
  max-width: 150px;
  border-left: none;
  border-right: none;
  border: $header-comp-borders;
}

.theme-btn {
  cursor: pointer;

  border-radius: $small-radius;
  overflow: hidden;
  min-width: 80px;
  transition: transform .2s;

  &:active {
    transform: scale(.94);
  }
  &:hover {
    transform: scale(.98);
  }
}

#dark-theme {
  padding: 0px;
  p {
    color: $light-dash-bg;
  }
  .sliding-dark {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    animation: 1s slide-out;
    background-color: $sky-blue;
  }
}

#light-theme {
  border: 1px solid $sky-blue;
  background-color: $light-dash-bg;

  .sliding-light {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  animation: 1s slide-in;
  background-color: $light-dash-bg;
}
}

.hidden {
  display: none;
}


main {
  @include flex-column;

  margin: 2rem;
  gap: 1rem;
  height: 100%;

  section {
    border: 1px solid;
    border-radius: $small-radius;
    background-color: $light-dash-bg
  }
}

#curr-weather {
  @include flex-column;
}
#top {
  @include flex-column;

  p {
    margin-left: $small-margin;
    font-size: 1.5rem;
    font-weight: 00;
    transform: translateY(-10px);
  }
}
h1 {
  margin-left: $small-margin;
  margin-top: $small-margin;
  font-size: 1rem;
  font-weight: 100;
}
#middle {
  display: flex;
  gap: 1rem;
  align-items: center;

  span:first-child {
    margin-left: $small-margin;
  }
}
#mid-left {
  display: flex;
  gap: .5rem;
}
#curr-temp {
  display: flex;

  p:first-child {
    font-size: 2rem;
    transform: translateY(-10px);
  }
}

#bottom p {
  margin-left: $small-margin;
  font-size: 15px;
}


@keyframes slide-in {
  from {
    transform: translateY(-25px);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(25px);
  }
}